body {
  font-family: monospace;
  font-size: 1rem;
}

* {
  margin: 0;
}

h1, h2, h3 {
  margin-top: 1rem;
}

h1 {
  font-weight: 500;
}

h2 {
  margin-left: 1rem;
  font-weight: 400;
}

h3 {
  margin-left: 2rem;
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
  font-weight: 400;
}

li span {
  font-weight: 600;
}

ul {
  margin-left: 2rem;
}

#kalkulator {
  margin-left: 3rem;

  & h3 {
    margin-left: 0;
    margin-bottom: 0;
    font-weight: 600;
  }
}
